.header {
  max-width: 100%;
  padding: 40px 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__title {
    margin: 0;
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
  }

  &__navigation {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
  }

  &__link {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;

    &:last-of-type {
      margin-left: 15px;
    }
  }
}
