<section class="books" *ngIf="!loading">
  <table class="books__table">
    <thead class="books__head">
      <tr class="books__row">
        <th class="books__head-name">#</th>
        <th class="books__head-name">Title
          <div class="books__filters">
            <button class="books__filter" (click)="sortUpTitle(books)">&#5169;</button>
            <button class="books__filter" (click)="sortDownTitle(books)">&#5167;</button>
          </div>
        </th>
        <th class="books__head-name">Price
          <div class="books__filters">
            <button class="books__filter" (click)="sortUpPrice(books)">&#5169;</button>
            <button class="books__filter" (click)="sortDownPrice(books)">&#5167;</button>
          </div>
        </th>
        <th class="books__head-name">Buy</th>
      </tr>
    </thead>
    <tbody class="books__body">
      <tr class="book" *ngFor="let book of books; let i = index">
        <td class="book__position">{{i + 1}}</td>
        <td class="book__info">
          <img class="book__image" src={{book.image}} alt="Обложка книги"/>
          <div class="book__about">
            <h2 class="book__title">{{book.title}}</h2>
            <p class="book__description">{{book.subtitle}}</p>
          </div>
        </td>
        <td class="book__price">{{book.price}}</td>
        <td class="book__btn-cell">
          <button class="book__btn"
            [class.book__btn_isSelected]="book.selected"
            (click)="toggleBook(book.isbn13)"></button>
          </td>
      </tr>
    </tbody>
  </table>
</section>

<section class="books" *ngIf="loading">
  <app-preloader></app-preloader>
</section>
