<section class="books" *ngIf="!loading">
  <div class="books__table" *ngIf="books.length; else noBooks">
    <div class="books__headers">
      <div class="books__header">#</div>
      <div class="books__header">Title
        <div class="books__filters">
          <button class="books__filter" (click)="sortUpTitle(books)">&#5169;</button>
          <button class="books__filter" (click)="sortDownTitle(books)">&#5167;</button>
        </div>
      </div>
      <div class="books__header">Price
        <div class="books__filters">
          <button class="books__filter" (click)="sortUpPrice(books)">&#5169;</button>
          <button class="books__filter" (click)="sortDownPrice(books)">&#5167;</button>
        </div>
      </div>
      <div class="books__header">Buy</div>
    </div>
    <div class="books__body">
      <app-book-item [books]="books" [loading]="loading" [searchString]="searchString"></app-book-item>
    </div>
  </div>
</section>

<ng-template #noBooks>
  <p class="books__title">No books...</p>
</ng-template>

<section class="books" *ngIf="loading">
  <app-preloader></app-preloader>
</section>
