<article class="book">
  <div class="book__info">
    <img class="book__image" src={{book.image}} alt="Обложка книги"/>
    <div class="book__about">
      <h2 class="book__title">{{book.title}}</h2>
      <p class="book__description">{{book.subtitle}}</p>
      <div class="book__price">{{book.price}}</div>
    </div>
  </div>
  <div class="book__btn-container">
    <p class="book__btn-title">Buy</p>
    <button class="book__btn"
        [class.book__btn_isSelected]="book.selected"
        (click)="toggleBook(book)">
    </button>
  </div>
</article>
